/pom.xml.versionsBackup
/V1_18_R2/target/
/V1_17_R1/target/
/NMS/pom.xml.versionsBackup
/V1_19_R1/target/
/Core/target/
/NMS/target/
/V1_19_R1/pom.xml.versionsBackup
/V1_17_R1/pom.xml.versionsBackup
/target/
/Core/pom.xml.versionsBackup
/V1_18_R2/pom.xml.versionsBackup
/.idea/
